:root {
  --dark: black;
  --light: white;
  --red: red;
  --grey: #8f8f8f;
}

.navbar-brand, a:hover, .active, .page-subtitle, .btn-light, .btn-light:hover {
  color: var(--red);
}

.btn-light, nav, ::-webkit-scrollbar-track {
  background-color: var(--dark);
}

* {
  overflow-x: hidden;
  font-family: 'Oswald', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: var(--grey);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--red);
}

.navbar-brand {
  margin-right: 0;
  margin-bottom: 0;
}

.nav-link {
  padding-left: 0;
  margin-top: .5em;
  margin-bottom: .5em;
  color: var(--grey);
}

.userEmail {
  color: var(--light);
}

nav {
  color: var(--light);
}

.page-head {
  text-align: center;
  font-weight: 800;
  font-size: 4em;
  margin-bottom: 0;
  margin-top: 2em;
}

.header, .page-subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 2em;
}

.header {
  margin-bottom: 1em;
  margin-top: 2em;
}

.page-subtitle {
  font-style: italic;
  margin-bottom: 4em;
}

.card-body {
  padding: 2.5em;
  background-color: var(--grey);
  place-content: center;
}

.btn-light:hover {
  background-color: var(--light);
}

h3 {
  font-style: oblique;
  padding-top: .5em;
}

.p {
  padding-top: 1em;
  padding-bottom: 1em;
}
#p {
  margin: 0;
  padding: 0;
}

#allData-card {
  margin: 1em;
}

#bal-num {
  font-size: 2.5em;
  font-weight: 600;
}

.options {
  text-align: center;
}